# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.ini
*.py~
# IDE related
.idea/
obj/
bin/
*.config
*.pyproj
.vscode/
*.h5
*.html~
*.db

# Virtualenv
venv/

# Database
*.sqlite

# Image repository
images/
*.zip
