# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.ini

# IDE related
.idea/
obj/
bin/
*.config
*.pyproj
.vscode/

# Virtualenv
venv/

# Database
*.sqlite

# Image repository
images/
*.zip